@{
    ViewBag.Title = "News";
}
@model IEnumerable<MyNews.Models.NewsItem>

<div class="row">
    <div class="span2"></div>
    <div class="span8">
        <h1>Новости</h1>
    </div>
    <div class="span2">
    </div>

</div>
<div class="row">
    <div class="span2">
        <!-- Put this script tag to the <head> of your page -->
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?97"></script>

        <script type="text/javascript">
            VK.init({ apiId: 3774385, onlyWidgets: true });
        </script>

        <!-- Put this div tag to the place, where Auth block will be -->
        <div id="vk_auth"></div>
        <script type="text/javascript">
            VK.Widgets.Auth("vk_auth", {
                width: "200px", onAuth: function (data) {
                    alert('user ' + data['uid'] + ' authorized');
                }
            });
        </script>

    </div>
    <div class="span8">
        <table class="table table-striped">
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        <img src="@m.ImageUrl" width="400" height="400"/>
                    <td>
                        <a href="@m.Link" target="blank">@m.Title</a>

                        <p>@m.Description</p>

                        <span class="muted"><em>@m.PublishDate.ToString()</em></span>
                        <!-- Put this div tag to the place, where the Like block will be -->
                        <div id="@Model.ToList().IndexOf(m)l"></div>
                        <script type="text/javascript">
                            VK.Widgets.Like("@Model.ToList().IndexOf(m)l", { type: "mini", height: 18 });
                        </script>

                        <!-- Put this div tag to the place, where the Comments block will be -->
                        <div id="@Model.ToList().IndexOf(m)c"></div>
                        <script type="text/javascript">
                            VK.Widgets.Comments("@Model.ToList().IndexOf(m)c", { limit: 10, width: "520", attach: "*" });
                        </script>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="span2"></div>
</div>
