@{
    ViewBag.Title = "News";
}
@model MyNews.Models.NewsPageModel

<div class="row">
    <div class="span2"></div>
    <div class="span8">
        <h1>@Model.SourceName</h1>
    </div>
    <div class="span2">
    </div>

</div>
<div class="row">
    <div class="span2">
        <label>Источник</label>
        @Html.DropDownList("source", Model.Sources, new {style="width:175px;", id="source"})
        @Html.ActionLink("Добавить источник", "Create", "News", new {@class = "btn btn-primary"})
    </div>
    <div class="span8">
        <table class="table table-striped">
            @foreach (var m in Model.NewsItems)
            {
                <tr>
                    <td>
                    <img src="@m.ImageUrl" width="400" height="400"/>
                    <td>
                        <a href="@m.Link" target="blank">@m.Title</a>

                        <p>@Html.Raw(m.Description)</p>

                        <span class="muted"><em>@m.PublishDate.ToString()</em></span>

                        <div id="@m.Id"></div>

                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="span2"></div>
</div>

<script type="text/javascript">
    $("#source").change(function () {
        location.href = "/news/index?id=" + $(this).val();
    });

</script>
